html, body, div, p, h1, h2, h3, img, a,
ul, li, {
	margin: 0;
	padding: 0
}
html {
	font-size: 62.5%
}
body {
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.6em;
/*	font-style: normal;
	font-variant: normal;
	font-weight: 200;*/
	line-height: 1.4em;
	color: #000;
	background-color: #BEA8A8
}
.keyword {
	font-size: 20px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;

}
.table {
	border-style: solid;
	border-color: #000;
	text-transform: uppercase;
	background-color: #fff;
	font-size: 20px;
	text-align: center;
	margin-left: 50px;
}


.table tr, td {
	border-style: solid;
}

.strToCode {
	font-size: 20px;
	font-weight: bold;
	color: #C01212;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 32px;

}

.strEncoded {
	font-size: 20px;
	font-weight: bold;
	color: #1E801C;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 32px;

}
form{
	margin-left: 20px;
}

form p, input, button {
	margin-left: 20px;
	margin-top: 10px;

}